// Fonts
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.profile-pict {
    width: 40px;
    height: 40px;
    border-radius: .5em;

    border: 1px solid #3b3b3b;
}

$window-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
$theme-color-1: #1A1A1D;
$theme-color-2: #4E4E50;
$theme-color-3: #6F2232;
$theme-color-4: #950740;
$theme-color-5: #C3073F;


//Home
* {
    font-family: 'Kanit', sans-serif;
    color: $theme-color-4;
}

#navbar-color {
    background: $theme-color-5;
    box-shadow: $window-shadow;
}

#body-color {
    background-color: $theme-color-1;
    background-attachment: fixed;
}

.dropdown-menu a:active {
    background-color: $theme-color-4;
}


//Forms
#form-window {
    background-color: transparent;
    border: none;
}

#text-button {
    color: $theme-color-4;
}

#text-button:active {
    box-shadow: none;
    color: $theme-color-3;
    transition: .3s;
}

#remember {
    background-color: $theme-color-4;
    border: .5px solid $theme-color-3;
}

#text-button:hover {
    color: $theme-color-4;
    transition: .3s;
}

// Profile Settings gender radio
.radio{
    display: inline-flex;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}
.radio__input{
    display: none;
}
.radio__label{
    padding: 8px 14px;
    font-size: 14px;
    color: $theme-color-1;
    background: $theme-color-3;
    background: linear-gradient(180deg, $theme-color-3 0%, $theme-color-2 100%);
    cursor: pointer;
    transition: 0.2s;
}
.radio__label:not(:last-of-type){
    border-right: 2px solid $theme-color-1;
}
.radio__input:checked + .radio__label{
    background: $theme-color-5;
    transition: 0.2s;
}


//Editor
#update-profile-window {
    width: 40%;
}

#btn-submit {

    background: $theme-color-3;
    background: linear-gradient(180deg, $theme-color-3 0%, $theme-color-5 100%);
    border-radius: 1px;
    border: none;
    color: $theme-color-1;
    transition: .3s;
}


#update-profile-btn:hover {
    background-color: $theme-color-5;
    transition: .3s;
}

#update-profile-btn:focus {
    box-shadow: none;
    background-color: $theme-color-3;
    transition: .3s;
}

//Gallery
#gallery-image {
    max-width: 100%;
}
